<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"/>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
          </li>
        </ul>
     </nav>
     <div class="container mt-5">
        <h1>Home Page</h1>
        <hr/>
        <img src="../images/slider-img.png" width="300px" height="300px"/>
        <img src="../images/experience-img.jpg" width="300px" height="300px"/>
        <p class="textStyle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui reprehenderit doloribus amet officiis ad iusto asperiores quasi sunt, voluptatem sit eos officia quod dignissimos nostrum ab impedit dicta harum voluptates veritatis eum? Maiores ipsam ipsum eius unde, numquam libero, voluptatum ex exercitationem pariatur, corrupti soluta. Vel doloribus ratione pariatur voluptatem delectus animi obcaecati nulla magni, neque consequatur enim, architecto nostrum? Minima consectetur ab incidunt eligendi, labore officia sunt, error velit saepe mollitia expedita praesentium nulla tempore optio non temporibus aperiam, suscipit pariatur necessitatibus enim! Labore quisquam, cupiditate ex provident iusto molestiae nemo in alias saepe optio? Minus, dolorum ab! Numquam.</p> 
    </div>
</body>

</html>